<h1>Registrese</h1><br>

<form action="/user/register" method="post">
    <h2 style="font-size: 7mm;">User:</h2>
    <br><input type="text" name="username"><br>
    <br>
    <h2 style="font-size: 7mm;">Password:</h2>
    <br><input type="text" name="password"><br>
    <h2 style="font-size: 7mm;">email:</h2>
    <br><input type="text" name="email"><br>
    <h2 style="font-size: 7mm;">address:</h2>
    <br><input type="text" name="address"><br>
    <h2 style="font-size: 7mm;">age:</h2>
    <br><input type="text" name="age"><br>
    <h2 style="font-size: 7mm;">celPhone:</h2>
    <br><input type="text" name="celPhone"><br>
    <h2 style="font-size: 7mm;">photo:</h2>
    <br><input type="text" name="photo"><br>

    <br><button type="submit">Registro</button><br>
</form>
<hr>
<a href="/user/"><input type="button" value="Login"></a>